.gradle/
.idea/
local.properties
**/build/
*.iml
release/
*.jks
*.keystore
*.p12
signing.properties
.artifacts/
.kotlin/
.source-stage/
/*.png
/*.class
*.hprof
captures/
dump.xml
scratch/
scratch_gv/
